{% extends 'standard/base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static '/styles/home/style.css' %}">
{% endblock %}

{% block content_title %}Gerenciamento de funcionários{% endblock %}
{% block content %}
    <h2>{{ page_obj }}</h2>

    <div class="table_container">
        <table>
            <thead>
                <tr>
                    <td><input type="checkbox" id="select_all_employees"></td>
                    <td>Funcionário</td>
                    <td>E-mail</td>
                    <td>Cargo</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody id="employees_list">
                {% for employee in employees_list %}
                    <tr>
                        <td><input type="checkbox" class="select_employee" value={{ employee.id }}></td>
                        <td class="name">
                            <div>
                                {% if employee.avatar_url %}
                                    <img src="{{ employee.avatar_url }}" alt={{ employee.name }} class="profile_avatar" />
                                {% else %}
                                    <img src="{% static 'assets/images/default_image_' %}{{ random_number }}.jpg" alt={{ employee.name }} class="profile_avatar" />
                                {% endif %}
                                {{employee.name}}
                            </div>
                        </td>
                        <td class="email">{{employee.email}}</td>
                        <td class="role">
                            {% if employee.role %}
                                {{ employee.role }}
                            {% else %}
                                {{ 'Não especificado' }}
                            {% endif %}
                        </td>
                        <td>
                            <!-- href="{% url 'edit_employee' %}?employee_id={{ employee.id }}" -->
                            <button class="action edit" value={{ employee.id }}>
                                <i data-lucide="square-pen"></i>
                            </button>

                            <!-- href="{% url 'delete_employee' %}?employees_id={{ employee.id }}" -->
                            <button class="action delete" value={{ employee.id }}>
                                <i data-lucide="trash-2"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal create">
        <div class="modal_title">
            <h2>Criação de cadastro</h2>
            <p>Insira as informações do novo funcionário abaixo:</p>
        </div>

        <form method="post" action="{% url 'create_employee' %}" class="modal_content create_form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field">
                <label for="image_to_create">
                    <div class="title">
                        <h3>Foto</h3>
                    </div>

                    <div class="photo">
                        <img src="" class="preview">
                    </div>

                    <div class="default">
                        <i data-lucide="cloud-upload"></i>
                        <small>Fazer upload de uma imagem</small>
                    </div>
                </label>
                <input type="file" name="image" id="image_to_create">
            </div>

            <div class="field">
                <label for="name_to_create">Nome</label>
                <input type="text" name="name" id="name_to_create" required>
            </div>

            <div class="field">
                <label for="email_to_create">E-mail</label>
                <input type="email" name="email" id="email_to_create" required>
            </div>

            <div class="field">
                <label for="password_to_create">Senha</label>
                <input type="password" name="password" id="password_to_create" required>
            </div>

            <div class="field">
                <label for="role_to_create">Cargo</label>
                <select name="role" id="role_to_create">
                    <option value="Administrativo">Administrativo</option>
                    <option value="Visitante">Visitante</option>
                </select>
            </div>

            <div class="modal_actions">
                <button type="reset" class="action cancel">Cancelar</button>
                <button type="submit" class="action confirm">Criar novo cadastro</button>
            </div>
        </form>
    </div>

    <div class="modal edit">
        <div class="modal_title">
            <h2>Alteração de cadastro</h2>
            <p>Altere as informações do funcionário abaixo:</p>
        </div>

        <form method="post" action="" class="modal_content edit_form" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="field">
                <label for="image_to_edit">
                    <div class="title">
                        <h3>Foto</h3>
                    </div>

                    <div class="photo">
                        <img src="" class="preview">
                    </div>

                    <div class="default">
                        <i data-lucide="cloud-upload"></i>
                        <small>Fazer upload de uma imagem</small>
                    </div>
                </label>
                <input type="file" name="image" id="image_to_edit">
            </div>

            <div class="field">
                <label for="name_to_edit">Nome</label>
                <input type="text" name="name" id="name_to_edit" required>
            </div>

            <div class="field">
                <label for="email_to_edit">E-mail</label>
                <input type="email" name="email" id="email_to_edit" required>
            </div>

            <div class="field">
                <label for="role_to_edit">Cargo</label>
                <select name="role" id="role_to_edit">
                    <option value="Administrativo">Administrativo</option>
                    <option value="Visitante">Visitante</option>
                </select>
            </div>

            <p class="alert">ATENÇÃO: <span>Você selecionou mais de um registro! A alteração será aplicada para todos os registros selecionados.</span></p>

            <div class="modal_actions">
                <button type="reset" class="action cancel">Cancelar</button>
                <button type="submit" class="action confirm">Atualizar cadastro</button>
            </div>
        </form>
    </div>
        
    <div class="modal delete">
        <div class="modal_title">
            <h2>Exclusão de cadastro</h2>
            <p>Confirme se deseje excluir o cadastro do funcionário abaixo:</p>
        </div>

        <form method="post" action="" class="modal_content delete_form">
            {% csrf_token %}
            <div class="field">
                <label for="name_to_delete">Nome</label>
                <input type="text" name="name_to_delete">
            </div>

            <div class="field">
                <label for="email_to_delete">E-mail</label>
                <input type="email" name="email" id="email_to_delete">
            </div>

            <div class="field">
                <label for="role_to_delete">Cargo</label>
                <select name="role" id="role_to_delete">
                    <option value="Administrativo">Administrativo</option>
                    <option value="Visitante">Visitante</option>
                </select>
            </div>

            <p class="alert">ATENÇÃO: <span>Você selecionou mais de um registro! A exclusão será aplicada para todos os registros selecionados.</span></p>

            <div class="modal_actions">
                <button type="button" class="action cancel">Cancelar exclusão</button>
                <button type="submit" class="action confirm">Confirmar</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    let select_all_employees = document.getElementById('select_all_employees')
    let selects_employees = document.querySelectorAll('.select_employee')

    let add_register_on_page_button = document.getElementById('add_register_on_page')

    let all_edit_employee_buttons = document.querySelectorAll('.action.edit')
    let all_delete_employee_buttons = document.querySelectorAll('.action.delete')

    let create_modal = document.querySelector('.modal.create')
    let confirm_create_modal = create_modal.querySelector('.action.confirm')
    let cancel_create_modal = create_modal.querySelector('.action.cancel')
    let create_form = document.querySelector('.create_form')

    let edit_modal = document.querySelector('.modal.edit')
    let confirm_edit_modal = edit_modal.querySelector('.action.confirm')
    let cancel_edit_modal = edit_modal.querySelector('.action.cancel')
    let edit_form = document.querySelector('.edit_form')
    
    let delete_modal = document.querySelector('.modal.delete')
    let confirm_delete_modal = delete_modal.querySelector('.action.confirm')
    let cancel_delete_modal = delete_modal.querySelector('.action.cancel')
    let delete_form = document.querySelector('.delete_form')
    
    let all_images_labels = document.querySelectorAll('label[for*=image]')

    all_images_labels.forEach(label => {
        let image_input = label.nextElementSibling
        let image_preview = label.querySelector('img')
        let label_photo_container = label.querySelector('.photo')
        let label_default_container = label.querySelector('.default')

        if(image_input && image_input.files[0]) {
            image_preview.src = URL.createObjectURL(image_input.files[0])

        } else if (image_input) {
            image_input.addEventListener('change', () => {
                image_preview.src = URL.createObjectURL(image_input.files[0])
                
                label_photo_container.classList.add('show')
                label_default_container.classList.add('hidden')
            })
        }
    })

    select_all_employees.addEventListener('click', () => {
        selects_employees.forEach(select => select.checked = select_all_employees.checked)
    })

    add_register_on_page_button.addEventListener('click', () => {
        create_modal.classList.add('show')
    })

    cancel_create_modal.addEventListener('click', () => {
        create_modal.classList.remove('show')
        create_modal.querySelector('form').reset()
        create_modal.querySelector('input[type=file]').value = ""
        create_modal.querySelector('img').src = ""
        
        create_modal.querySelector('.photo').classList.remove('show')
        create_modal.querySelector('.default').classList.remove('hidden')
    })
    cancel_edit_modal.addEventListener('click', () => {
        edit_modal.classList.remove('show')
        edit_modal.querySelector('form').reset()
        edit_modal.querySelector('input[type=file]').value = ""
        edit_modal.querySelector('img').src = ""
        
        edit_modal.querySelector('.photo').classList.remove('show')
        edit_modal.querySelector('.default').classList.remove('hidden')
    })
    cancel_delete_modal.addEventListener('click', () => {
        delete_modal.classList.remove('show')
        delete_modal.querySelector('form').reset()
    })

    function modal_control(modal_element, button_clicked) {
        let all_checked_employees = document.querySelectorAll('.select_employee:checked')

        let tr_parent = button_clicked.closest('tr')
        
        let image = modal_element.querySelector('input[name*=image]')
        let image_preview = modal_element.querySelector('img.preview')
        let photo_container = modal_element.querySelector('.photo')
        let default_container = modal_element.querySelector('.default')

        let name = modal_element.querySelector('input[name*=name]')
        let email = modal_element.querySelector('input[name*=email]')
        let role = modal_element.querySelector('select[name*=role]')

        let selected_image_preview = tr_parent.querySelector('img.profile_avatar')
        let selected_name = tr_parent.querySelector('.name')
        let selected_email = tr_parent.querySelector('.email')
        let selected_role = tr_parent.querySelector('.role')

        if(all_checked_employees.length > 1) {
            if (image)
                image.disabled = true 

            name.disabled = true
            email.disabled = true

            name.value = ''
            email.value = ''
            role.value = ''

            modal_element.classList.add('show_alert')

            let data_employee_index = ''
            
            all_checked_employees.forEach((employee, idx) => {
                if((idx + 1) != all_checked_employees.length) {
                    data_employee_index += `${employee.value},`
                } else {
                    data_employee_index += employee.value
                }
            })

            modal_element.querySelector('form').setAttribute('data-employee-index', data_employee_index)

        } else {
            if (image) {
                image.disabled = false 
            }

            if(image_preview && selected_image_preview) {
                image_preview.src = selected_image_preview.src
            }

            if(photo_container && default_container) {
                photo_container.classList.add('show')
                default_container.classList.add('hidden')
            }

            name.disabled = false
            email.disabled = false
            role.disabled = false 

            name.value = selected_name.textContent.trim()
            email.value = selected_email.textContent.trim()
            role.value = selected_role.textContent.trim()

            modal_element.classList.remove('show_alert')

            modal_element.querySelector('form').setAttribute('data-employee-index', button_clicked.value)
        }

        if(modal_element === delete_modal) {
            name.disabled = true
            email.disabled = true
            role.disabled = true
        }

        if(delete_modal.className.includes('show')) {
            delete_modal.classList.remove('show')
        }

        modal_element.classList.add('show')
    }

    all_edit_employee_buttons.forEach(button => {
        button.addEventListener('click', () => {
            modal_control(edit_modal, button)
        })
    })

    all_delete_employee_buttons.forEach(button => {
        button.addEventListener('click', () => {
            modal_control(delete_modal, button)
        })
    })

    edit_form.addEventListener('submit', (event) => {
        event.preventDefault()
        let employees_id = edit_form.getAttribute('data-employee-index')
        let name = edit_form.querySelector('input[name*=name]')
        let email = edit_form.querySelector('input[name*=email]')
        let role = edit_form.querySelector('select[name*=role]')

        let all_checked_employees = document.querySelectorAll('.select_employee:checked')
        
        let query_params = `?employees_id=${employees_id}&`

        if(all_checked_employees.length > 1) {
            query_params += `role=${role.value}`
        } else {
            query_params += `name=${name.value}&email=${email.value}&role=${role.value}`
        }

        edit_form.setAttribute('action', `${"{% url 'edit_employee' %}"}${query_params}`)
        edit_form.submit()
    })

    delete_form.addEventListener('submit', (event) => {
        event.preventDefault()

        let employees_id = delete_form.getAttribute('data-employee-index')

        delete_form.setAttribute('action', `${"{% url 'delete_employee' %}"}?employees_id=${employees_id}`)
        delete_form.submit()
    })
</script>
{% endblock %}
