{% extends 'standard/base.html' %}
{% load static %}

{% block title %}Perfil{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static '/styles/user_profile/style.css' %}">
{% endblock %}

{% block content_title %}Perfil{% endblock %}
{% block content %}
    <form action="{% url 'edit_profile' %}?employee_id={{ request.session.employee.id }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="field">
            <label for="image_to_edit_profile">
                {% if request.session.employee.avatar_url %}
                    <img src="{{ request.session.employee.avatar_url }}" alt={{ request.session.employee.name }} class="preview" />
                {% else %}
                    <img src="{% static 'assets/images/default_image_' %}{{ random_number }}.jpg" alt={{ request.session.employee.name }} class="preview" />
                {% endif %}
            </label>

            <input type="file" name="image" id="image_to_edit_profile">
        </div>

        <div class="field">
            <label for="name">Nome</label>
            <input type="text" name="name" required value="{{ request.session.employee.name }}">
        </div>

        <div class="field">
            <label for="email">E-mail</label>
            <input type="email" name="email" required value="{{ request.session.employee.email }}">
        </div>

        <div class="actions">
            <button type="submit" class="action confirm">Atualizar cadastro</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        let all_images_labels = document.querySelectorAll('label[for*=image]')

        all_images_labels.forEach(label => {
            let image_input = label.nextElementSibling
            let image_preview = label.querySelector('img')

            if(image_input && image_input.files[0]) {
                image_preview.src = URL.createObjectURL(image_input.files[0])

            } else if (image_input) {
                image_input.addEventListener('change', () => {
                    image_preview.src = URL.createObjectURL(image_input.files[0])
                })
            }
        })
    </script>
{% endblock %}