{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar | PetCare</title>
    <link rel="stylesheet" href="{% static '/access/styles/style.css' %}">
</head>
<body>
    <h1>Entrar | PetCare</h1>
    <h2>Usuário: {{ employee }}</h2>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <label for="email">E-mail</label>
        <input type="text" name="email">

        <label for="password">Senha</label>
        <input type="text" name="password">
        {% if messages  %}
            <!-- <p>E-mail ou senha incorretos</p> -->
            {% for message in messages %}
                {% if forloop.counter == 1 %}  
                    <p>{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}

        <button type="submit">Entrar</button>
    </form>

    <span>Não possui cadastro? <a href="{% url 'signup' %}">Cadastre-se aqui.</a></span>

    <!-- <div class="side_section">
        <img src="{% static '/utils/images/petCare_illustration.svg' %}" alt="PetCare illustration">
    </div> -->
</body>
</html>