{% extends 'standard/base.html' %}
{% load static %}

{% block title %}Entrar{% endblock %}
{% block links %}
    <link rel="stylesheet" href="{% static '/styles/login/style.css' %}">
{% endblock %}

{% block content %}
    <h1>Entrar | PetCare</h1>
    <h2>Usuário: {{ employee }}</h2>

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}

        <label for="email">E-mail</label>
        <input type="email" name="email">

        <label for="password">Senha</label>
        <input type="password" name="password">
        {% if messages  %}
            <!-- <p>E-mail ou senha incorretos</p> -->
            {% for message in messages %}
                {% if forloop.counter == 1 %}  
                    <p>{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}

        <button type="submit">Entrar</button>
    </form>

    <span>Não possui cadastro? <a href="{% url 'signup' %}">Cadastre-se aqui.</a></span>

    <!-- <div class="side_section">
        <img src="{% static '/assets/images/petCare_illustration.svg' %}" alt="Logo do PetCare">
    </div> -->
{% endblock %}