{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/images/short_brand.svg' %}" type="image/x-icon">
    <title>Cadastro | PetCare</title>

    <link rel="stylesheet" href="{% static '/styles/signup/style.css' %}">

</head>
<body>

    <div class="container">
            <a href="{% url 'login' %}" class="login">Login</a>
            <a href="{% url 'signup' %}" class="signup">Cadastro</a>

        <div class="title">
            <h1>Faça seu Cadastro</h1>
        </div>
        <div  class="paragraph">
            <p>Preencha as informações e crie sua conta.</p>
        </div>

            <form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-foto">
                    <input class="file" type="file" name="image">
                    <div class="labelline">Escolha sua foto</div>
                </div>
                <div class="input-name">
                    <input class="name" type="text" name="name" required>
                    <div class="labelline">Nome</div>
                </div>
                <div class="input-email">
                    <input class="email" type="email" name="email" required>
                    <div class="labelline">E-mail</div>
                </div>
                <div class="input-password">
                    <input class="password" type="password" name="password" required>
                    <div class="labelline">Senha</div>
                </div>
                <p>{{ signup_error }}</p>
                <div class="input-checkbox">
                    <input type="checkbox" id="checkbox" name="checkbox">
                    <label for="checkbox" class="label">Eu li e concordo com os <a href="" class="terms">Termos de Serviço</a> e <a href="" class="politics">Política de Privacidade</a>.</label>
                </div>
                <div class="button">
                    <button type="submit">Cadastre-se</button>
                </div>
            </form>

    </div>

    <div class="img-container">
        <img src="{% static 'assets/images/petCare_illustration.svg' %}" alt="{{ imagem.nome }}">
    </div>

</body>
</html>