{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/images/short_brand.svg' %}" type="image/x-icon">
    <title>Cadastro | PetCare</title>

    <link rel="stylesheet" href="{% static '/styles/signup/style.css' %}">

    <!-- LUCIDE ICONS - Development version -->
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

    <!-- LUCIDE ICONS - Production version -->
    <script src="https://unpkg.com/lucide@latest"></script>

</head>
<body>
    <div id="main" class="main">
        <div class="signup-section"> 
            <div class="signup-container">
                <div class="links">
                    <a href="{% url 'login' %}" class="login">Login</a>
                    <a href="{% url 'signup' %}" class="signup">Cadastrar-se</a>
                </div>
                <div class="title">
                    <h1>Cadastro</h1>
                </div>
                <div  class="paragraph">
                    <p>Preencha as informações e crie sua conta.</p>
                </div>

                    <form action="{% url 'signup' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="field">
                            <label for="image_to_create">
                                <div class="photo-title">
                                    <h3>Foto</h3>
                                </div>
            
                                <div class="photo">
                                    <img src="" class="preview">
                                </div> 
            
                                <div class="default">
                                    <i data-lucide="cloud-upload"></i>
                                    <small>Fazer upload de uma imagem</small>
                                </div>
                            </label>
                            <input type="file" name="image" id="image_to_create">
                        </div>
                        <div class="input-name">
                            <input class="name" type="text" name="name" required>
                            <div class="labelline">Nome</div>
                        </div>
                        <div class="input-email">
                            <input class="email" type="email" name="email" required>
                            <div class="labelline">E-mail</div>
                        </div>
                        <div class="input-password">
                            <input class="password" type="password" name="password" required>
                            <div class="labelline">Senha</div>
                        </div>
                        {% if signup_error  %}
                            <br>
                            <small>Erro: {{ signup_error }}</small>
                            <br>
                        {% endif %}
                        <div class="input-checkbox">
                            <input type="checkbox" id="checkbox" name="checkbox">
                            <label for="checkbox" class="label">Eu li e concordo com os <a href="" class="terms">Termos de Serviço</a> e <a href="" class="politics">Política de Privacidade</a>.</label>
                        </div>
                        <div class="button">
                            <button type="submit">Cadastre-se</button>
                        </div>
                    </form>

            </div>
        </div>

        <div id="img-container" class="img-container">
            <img src="{% static 'assets/images/test.svg' %}" alt="PetCare logo">
        </div>

        <div id="img-container-small" class="img-container-small">
            <img src="{% static 'assets/images/petCare_illustration_small.svg' %}" alt="PetCare logo">
        </div>
    </div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="{% static 'scripts/base.js' %}"></script>
    <script> 
        function updateImageContainer() {
            let mainElement = document.getElementById('main');
            let imgContainer = document.getElementById('img-container');
            let imgContainerSmall = document.getElementById('img-container-small');
            let width = window.innerWidth;

            if (width < 900) { // Tela pequena
                mainElement.classList.add('small');
                imgContainer.style.display = 'none';
                imgContainerSmall.style.display = 'flex';
            } else { // Tela grande
                mainElement.classList.remove('small');
                imgContainer.style.display = 'flex';
                imgContainerSmall.style.display = 'none';
            }
        }

        window.addEventListener('resize', updateImageContainer);
        window.addEventListener('load', updateImageContainer);



        let all_images_labels = document.querySelectorAll('label[for*=image]')

        all_images_labels.forEach(label => {
            let image_input = label.nextElementSibling
            let image_preview = label.querySelector('img')
            let label_photo_container = label.querySelector('.photo')
            let label_default_container = label.querySelector('.default')

            if(image_input && image_input.files[0]) {
                image_preview.src = URL.createObjectURL(image_input.files[0])

            } else if (image_input) {
                image_input.addEventListener('change', () => {
                    image_preview.src = URL.createObjectURL(image_input.files[0])
                    
                    label_photo_container.classList.add('show')
                    label_default_container.classList.add('hidden')
                })
            }
        })

    </script>
</body>
</html>