form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .field {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;

        &:has(input:disabled, select:disabled) {
            opacity: 0.4;
        }

        &:has(input:required) {
            position: relative;

            &::before {
                position: absolute;
                content: '*';
                color: var(--light_red);
                right: 0;
                top: 0;
            }
        }

        input, select {
            border-bottom: 1px solid var(--blue_gray);
            padding-left: .4rem;
            height: 1.3rem;
        }

        &:has(label[for*=image_to_]) {
            label {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                cursor: pointer;
            }

            width: 150px;
            height: 150px;
            
            img {
                width: 150px;
                height: 150px;

                object-fit: cover;
                border-radius: 50%;
            }

            input {
                display: none;
            }
        }
    }

    .actions {
        display: flex;
        gap: .5rem;
        width: 100%;
        max-width: 500px;

        .action {
            flex-grow: 1;
            border-radius: .2rem;
            padding: .5rem;
            cursor: pointer;
            transition: all .25s linear;
            
            &.confirm {
                border: 1px solid var(--light_red);
                color: var(--light_red);
            }

            &:hover {
                &.confirm {
                    color: var(--white);
                    background-color: var(--light_red);
                }
            }
        }
    }
}