{% extends 'standard/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static '/styles/errors/style.css' %}">
{% endblock %}

{% block title %}Página não encontrada{% endblock %}

{% block content %}
    <div class="container">
        <div id="img-container" class="img-container">
            <img src="{% static 'assets/images/404.svg' %}" alt="PetCare logo">
        </div>
        <h1>Página não encontrada</h1>
        <p>A página pela qual procura não existe. Sentimos muito.</p>
        <a href="{% url 'home' %}">Voltar para a página inicial</a>
    </div>
{% endblock %}