{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon">
    <title>{% block title %}{% endblock %} | PetCare</title>

    <link rel="stylesheet" href="{% static '/styles/base/style.css' %}">

    {% block links %}
    {% endblock %}

    <!-- LUCIDE ICONS - Development version -->
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

    <!-- LUCIDE ICONS - Production version -->
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <aside id="side_menu">
        <div class="logo">
            <img src="{% static 'assets/images/short_brand.svg' %}" alt="PerCare">
        </div>
    
        <nav>
            <ul>
                <li data-page="home">
                    <a href="{% url 'home' %}"></a>
                    <div class="icon">
                        <img src="{% static 'assets/icons/mage_users.svg' %}">
                    </div>
                    <div class="name">
                        Funcionários
                    </div>
                </li>
                <li data-page="products">
                    <a href="{% url 'products' %}"></a>
                    <div class="icon">
                        <img src="{% static 'assets/icons/products_bag.svg' %}">
                    </div>
                    <div class="name">
                        Produtos
                    </div>
                </li>
                <li data-page="clients">
                    <a href="{% url 'clients' %}"></a>
                    <div class="icon">
                        <img src="{% static 'assets/icons/person_add.svg' %}">
                    </div>
                    <div class="name">
                        Clientes
                    </div>
                </li>
                <li data-page="sales">
                    <a href="{% url 'sales' %}"></a>
                    <div class="icon">
                        <img src="{% static 'assets/icons/real_estate_agent.svg' %}">
                    </div>
                    <div class="name">
                        Vendas
                    </div>
                </li>
            </ul>
        </nav>

        <button class="logout" type="button">
            <i data-lucide="truck"></i>
            Sair do sistema
        </button>
    </aside>

    <main>
        <header id="top_menu">
            <div class="search_bar">
                <div class="input">
                    <input type="text" placeholder="Buscar..." id="search">
    
                    <button type="button" class="search_button">
                        <i data-lucide="search"></i>
                    </button>
                </div>

                {% if request.session.employee.role == 'Administrativo' %}
                    <button type="button" id="add_register_on_page">
                        <i data-lucide="circle-plus"></i>
                    </button>
                {% endif %}
            </div>
    
            <div class="user_profile">
                <button id="hamburger_menu" type="button">
                    <span></span>
                </button>

                <div class="user_photo">
                    {% if request.session.employee.avatar_url %}
                        <img src={{ request.session.employee.avatar_url }} alt={{ request.session.employee.name }}>
                    {% else %}
                        <img src="{% static 'assets/images/default_image_' %}{{ random_number }}.jpg" alt={{ request.session.employee.name }} />
                    {% endif %}
                </div>
            </div>

            <div class="secondary_menu">
                <nav>
                    <ul class="simple_version">
                        <li data-page="user_profile">
                            <a href="{% url 'user_profile' %}"></a>

                            <div class="icon">
                                <i data-lucide="circle-user-round"></i>
                            </div>
                            <div class="name">
                                Perfil
                            </div>
                        </li>
                    </ul>

                    <ul class="mobile_version">
                        <li data-page="home">
                            <!-- TODO: create and links the apps on links -->
                            <a href="{% url 'home' %}"></a>
                            <div class="icon">
                                <img src="{% static 'assets/icons/mage_users.svg' %}">
                            </div>
                            <div class="name">
                                Funcionários
                            </div>
                        </li>
                        <li data-page="products">
                            <a href="{% url 'products' %}"></a>
                            <div class="icon">
                                <img src="{% static 'assets/icons/products_bag.svg' %}">
                            </div>
                            <div class="name">
                                Produtos
                            </div>
                        </li>
                        <li data-page="clients">
                            <a href="{% url 'clients' %}"></a>
                            <div class="icon">
                                <img src="{% static 'assets/icons/person_add.svg' %}">
                            </div>
                            <div class="name">
                                Clientes
                            </div>
                        </li>
                        <li data-page="sales">
                            <a href="{% url 'sales' %}"></a>
                            <div class="icon">
                                <img src="{% static 'assets/icons/real_estate_agent.svg' %}">
                            </div>
                            <div class="name">
                                Vendas
                            </div>
                        </li>
                    </ul>
                </nav>

                <button class="logout" type="button">
                    <i data-lucide="truck"></i>
                    Sair do sistema
                </button>
            </div>
        </header>

        <section id="current_content">
            <div class="content_title">
                <h2>{% block content_title %}{% endblock %}</h2>
            </div>
            
            {% block content %}
            {% endblock %}
        </section>
    </main>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="{% static 'scripts/base.js' %}"></script>

    {% block scripts %}
    {% endblock %}
</body>
</html>