{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/images/short_brand.svg' %}" type="image/x-icon">
    <title>{% block title %}{% endblock %} | PetCare</title>

    <link rel="stylesheet" href="{% static 'styles/base/style.css' %}">

    {% block links %}
    {% endblock %}

    <!-- LUCIDE ICONS - Development version -->
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

    <!-- LUCIDE ICONS - Production version -->
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <aside id="side_menu">
        <div class="logo">
            <img src="{% static 'assets/images/short_brand.svg' %}" alt="PerCare">
        </div>
    
        <nav>
            <ul>
                <li class="current">
                    <!-- TODO: create and links the apps on links (?JS scripts?) -->
                    <a href="https://source.unsplash.com/random" target="_blank"></a>
                    <div class="icon">
                        <i data-lucide="users"></i>
                    </div>
                    <div class="name">
                        Funcionários
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i data-lucide="shopping-cart"></i>
                    </div>
                    <div class="name">
                        Vendas
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i data-lucide="area-chart"></i>
                    </div>
                    <div class="name">
                        Análises
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <i data-lucide="newspaper"></i>
                    </div>
                    <div class="name">
                        Relatórios
                    </div>
                </li>
            </ul>
        </nav>

        <!-- TODO: build logout view and call it here -->
        <button id="logout" type="button">
            <i data-lucide="truck"></i>
            Sair do sistema
        </button>
    </aside>

    <main>
        <!-- TODO: build mobile logic/style -->
        <header id="top_menu">
            <div class="search_bar">
                <div class="input">
                    <input type="text" placeholder="Buscar...">
    
                    <button type="button" class="search_button">
                        <i data-lucide="search"></i>
                    </button>
                </div>

                <button type="button" class="config">
                    <i data-lucide="sliders-horizontal"></i>
                </button>
            </div>
    
            <div class="profile">
                <button id="hamburger_menu" type="button">
                    <span></span>
                </button>

                <div class="user_photo">
                    <!-- TODO: change to user photo (saved on local storage) -->
                    {% if request.session.employee.avatar_url == none %}
                        <img src="https://source.unsplash.com/random?pet&dogs&cats&animals" alt={{ request.session.employee.name }}>
                    {% else %}
                        <img src={{ request.session.employee.avatar_url }} alt={{ request.session.employee.name }}>
                    {% endif %}
                </div>
            </div>

            <div class="secondary_menu">
                <nav>
                    <ul class="simple_version">
                        <li>
                            <a href="https://source.unsplash.com/random"></a>

                            <div class="icon">
                                <i data-lucide="circle-user-round"></i>
                            </div>
                            <div class="name">
                                Perfil
                            </div>
                        </li>
                    </ul>

                    <ul class="mobile_version">
                        <li class="current">
                            <!-- TODO: create and links the apps on links -->
                            <a href="https://source.unsplash.com/random" target="_blank"></a>
                            <div class="icon">
                                <i data-lucide="users"></i>
                            </div>
                            <div class="name">
                                Funcionários
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i data-lucide="shopping-cart"></i>
                            </div>
                            <div class="name">
                                Vendas
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i data-lucide="area-chart"></i>
                            </div>
                            <div class="name">
                                Análises
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i data-lucide="newspaper"></i>
                            </div>
                            <div class="name">
                                Relatórios
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="current_content">
            <h1>Nome: {{ request.session.employee.name }}</h1>
            <br>

            {% block content %}
            {% endblock %}
        </section>
    </main>

    <script src="https://unpkg.com/lucide@latest"></script>
    <!-- TODO: split the script to js files -->
    <script>
        lucide.createIcons();

        let hamburger_menu = document.getElementById("hamburger_menu")
        let hamburger_menu_middle_bar = document.querySelector("#hamburger_menu span")

        let secondary_menu = document.querySelector(".secondary_menu")

        hamburger_menu.addEventListener('click', () => {
            hamburger_menu_middle_bar.classList.toggle('show')
            secondary_menu.classList.toggle('show')
        })

        let logout_button = document.getElementById("logout")
        logout_button.addEventListener('click', () => {
            let confirmation = confirm("Você realmente deseja sair do sistema?")

            if (confirmation) {
                window.location.href = '/logout'
            }
        })
    </script>
</body>
</html>