@import '../pattern';

$background-gray: #B9B9B9;
$primary-yellow: #FFC000;
$secondary-gray: #6A6E83;
$line-height: 2px;
$line-hover-height: 4px;
$line-spacing: -5px;

body{
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    p{
        color: $secondary-gray;
        font-size: 12px;
    }
    img{
        display: inline-block;
    }
}

.container{
    height: 100%;
    width: 100%;
    display: block; 
    justify-content: space-around;
    align-items: center;
}

.title {
    margin-top: 100px;
}

.paragraph{
    margin-top: 50px;
}

.login {
    background-color: transparent; 
    border: none; 
    color: $primary-yellow; 
    font-size: 16px; 
    cursor: pointer;
    position: relative; 
    font-size: 25px;
    margin-left: 10px;

    &::after {
        content: ""; 
        display: block;
        width: 100%; 
        height: $line-height; 
        background-color: $primary-yellow; 
        position: absolute;
        bottom: $line-spacing; 
        left: 0; 
    }

    &:hover::after {
        height: $line-hover-height; 
    }
}

.signup{
    background-color: transparent; 
    border: none; 
    color: $secondary-gray; 
    font-size: 16px; 
    cursor: pointer;
    position: relative; 
    font-size: 25px;

    &::after {
        content: ""; 
        display: block;
        width: 100%; 
        height: $line-height; 
        background-color: $primary-yellow; 
        position: absolute;
        bottom: $line-spacing; 
        left: 0; 
    }

    &:hover::after {
        height: $line-hover-height; 
    }
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;

    .input-container {
        position: relative;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        font-size: 1rem;

        &:focus + label,
        &:not(:placeholder-shown) + label {
            top: -10px;
            left: 10px;
            font-size: 0.8rem;
            color: #ffeb3b;
        }
    }

    label {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
        background-color: #fff;
        padding: 0 5px;
        color: #aaa;
        transition: all 0.3s;
    }

    button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: $primary-yellow;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: $primary-yellow;
        }
    }
}

.img-container {
    height: 100%;
    width: 100%;
    margin-top: 0px;
}

