* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("/static/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
:root {
  --white: #FFFFFF;
  --white_gray: #F8F8F8;
  --white_gray_secondary: #FAFBFB;
  --saturated_white_gray: #EEEEEE;
  --saturated_gray: #D0D5DD;
  --dark_gray: #535353;
  --light_gray: #6A6E83;
  --blue_gray: #42526D;
  --yellow_primary: #FFC000;
  --yellow_secondary: #e6af0b;
  --dark_red: #B40B00;
  --light_red: #F15046;
  --black: #1C1C1C;
}

html {
  scroll-behavior: smooth;
  background-color: var(--saturated_white_gray);
  color: var(--black);
  font-size: 18px;
  font-family: "Inter";
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

button, input {
  font-family: "Inter";
  background: none;
  border: none;
}

body {
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
body p {
  color: #6A6E83;
  font-size: 12px;
}
body img {
  display: inline-block;
}

.container {
  height: 100%;
  width: 100%;
  display: block;
  justify-content: space-around;
  align-items: center;
}

.title {
  margin-top: 100px;
}

.paragraph {
  margin-top: 50px;
}

.login {
  background-color: transparent;
  border: none;
  color: #FFC000;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  font-size: 25px;
  margin-left: 10px;
}
.login::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFC000;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.login:hover::after {
  height: 4px;
}

.signup {
  background-color: transparent;
  border: none;
  color: #6A6E83;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  font-size: 25px;
}
.signup::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFC000;
  position: absolute;
  bottom: -5px;
  left: 0;
}
.signup:hover::after {
  height: 4px;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
form .input-container {
  position: relative;
  margin-bottom: 20px;
}
form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
}
form input:not(:-moz-placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 0.8rem;
  color: #ffeb3b;
}
form input:focus + label, form input:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 0.8rem;
  color: #ffeb3b;
}
form label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 0 5px;
  color: #aaa;
  transition: all 0.3s;
}
form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #FFC000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
form button:hover {
  background-color: #FFC000;
}

.img-container {
  height: 100%;
  width: 100%;
  margin-top: 0px;
}/*# sourceMappingURL=style.css.map */