@import '../pattern';

$background: #B9B9B9;
$primary: #FFC000;
$secondary: #6A6E83;
$line-height: 2px;
$line-hover-height: 4px;
$line-spacing: -5px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 1rem;

<<<<<<< Updated upstream
    .paragraph {
        color: $secondary;
        font-size: clamp(10px, 1vw, 24px);
        text-align: center;
        margin-top: 20px
=======
    p {
        color: $secondary;
        font-size: 12px;
        text-align: center;
        padding: 0 1rem;
>>>>>>> Stashed changes
    }

    .img-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 80%;
            min-width: 730px;
            height: auto;
        }
    }

    .img-container-small {
        justify-content: center;
<<<<<<< Updated upstream
        display: none;
=======

        @media (max-width: 480px) {
            img {
                width: 70%;
            }
        }
>>>>>>> Stashed changes

        @media (min-width: 700px) {
            img {
                width: 22rem;
            }

        }
    } 

    .main {
        display: flex;

        &.small {
            gap: 0;
            flex-direction: column-reverse;

<<<<<<< Updated upstream
            .login-section, .signup-section {
                align-content: center;
                padding-left: 0;
        
                .login-container, .signup-container {
                    padding: none;
                    min-width: none;
=======
            .login-section {
                align-content: center;
                padding-left: 0;
        
                .login-container {
                    padding: 0;
                    min-width: 0;
>>>>>>> Stashed changes

                    .title {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

<<<<<<< Updated upstream
    .login-section, .signup-section {
        align-content: center;
        padding-left: 3rem;

        .login-container, .signup-container {
=======
    .login-section {
        align-content: center;
        padding-left: 3rem;

        .login-container {
>>>>>>> Stashed changes
            padding: 0 8rem 8rem 8rem;
            min-width: 600px;
        }
    }
    
    .links {
        display: flex;
        justify-content: space-evenly;
<<<<<<< Updated upstream
        margin-top: 20px;
        font-size: clamp(12px, 2vw, 24px);
    }


    .title {
        margin-top: 8rem;
        text-align: center;
        font-size: clamp(12px, 1.5vw, 24px);
=======
    }

    .title {
        margin-top: 8rem;
        text-align: center;
>>>>>>> Stashed changes
    }

    .button button{
        margin-top: 30px;
        width: 100%
    }

    form{
        padding: 10px;
        button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: $primary;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s;
        
            &:hover {
                background-color: $primary;
            }
        }
    }

    .email, .password {
        position: absolute;
        width: 100%;
        height: 50px;
        outline: none;
        font-size: 15px;
        padding: 0 30px;
        line-height: 10px;
        border: 2px solid $background;
        background: transparent;
        transition: 0.1s ease;
        z-index: 1111;
        border-radius: 5px;
    
        &:focus,
        &:valid {
            color: $secondary;
            border: 4px solid $background;
        }
    
        &:focus + .labelline,
        &:valid + .labelline {
            color: $secondary;
            height: 30px;
            line-height: 30px;
            padding: 0 12px;
            transform: translate(-15px, -25px) scale(0.88);
            z-index: 1111111;
            font-size: 15px;
        }
    }
    
    .input-email, .input-password {
        margin-top: 20px;
        position: relative;
        height: 50px;
        line-height: 50px;
    
        .labelline { 
            position: absolute;
            font-size: 15px;
            color: $secondary;
            padding: 0 20px;
            margin: 0 20px;
            background-color: transparent;
            transition: 0.2s ease;
        }
    }
    
    .login, .signup {
        background-color: transparent; 
        border: none; 
        color: $primary; 
<<<<<<< Updated upstream
        cursor: pointer;
        position: relative; 
=======
        font-size: 16px; 
        cursor: pointer;
        position: relative; 
        font-size: 25px;
>>>>>>> Stashed changes
        margin-left: 10px;
    
        &::after {
            content: ""; 
            display: block;
            width: 100%; 
            height: $line-height; 
            background-color: $primary; 
            position: absolute;
            bottom: $line-spacing; 
            left: 0; 
        }
    
        &:hover::after {
            height: $line-hover-height; 
            background-color: $primary; 
        }
    }

    .signup {
        color: $secondary; 
        
        &::after {
            background-color: $secondary; 
        }
    }
<<<<<<< Updated upstream
=======
    .links, .paragraph {
        margin-top: 20px;
    }
>>>>>>> Stashed changes
}