@import '../pattern';
@import '../login/style';

<<<<<<< Updated upstream
.main.small {
    .title {
        margin-top: 1rem !important;
=======
$background: #B9B9B9;
$primary: #FFC000;
$secondary: #6A6E83;
$line-height: 2px;
$line-hover-height: 4px;
$line-spacing: -5px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 1rem;

    p, .label{
        color: $secondary;
        font-size: 12px;
        text-align: center;
        padding: 0 1rem;
    }

    .label {
        padding: 0;
>>>>>>> Stashed changes
    }

<<<<<<< Updated upstream
.title {
    margin-top: 5rem !important;
}

.label {
    color: $secondary;
    font-size: 12px;
    text-align: center;
    padding: 0;
}

.field {
    &:has(label[for*=image_to_]) {
        label {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .5rem;
            cursor: pointer;

            h3 {
                font-weight: 300;
            }
        }

        .photo {
            width: 50px;
            height: 50px;
            display: none;
            
            img {
                width: inherit;
                height: inherit;
                object-fit: cover;
                border-radius: 50%;
            }

            &.show {
                display: block;
            }
        }

        .default {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: .4rem;

            &.hidden {
                display: none;
            }
        }

        input {
            display: none;
=======
    .img-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 80%;
            min-width: 730px;
            height: auto;
>>>>>>> Stashed changes
        }
    }

<<<<<<< Updated upstream
.signup-section {
    padding-left: 3rem !important;

    .signup-container {
        padding: 0 8rem !important;
        max-width: 625px;

    }
}

.name {
    position: absolute;
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 15px;
    padding: 0 30px;
    line-height: 10px;
    border: 2px solid $background;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
    border-radius: 5px;

    &:focus,
    &:valid {
        color: $secondary;
        border: 4px solid $background;
    }

    &:focus + .labelline,
    &:valid + .labelline {
        color: $secondary;
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        transform: translate(-15px, -25px) scale(0.88);
        z-index: 1111111;
        font-size: 15px;
    }
}

.input-name {
    margin-top: 20px;
    position: relative;
    height: 50px;
    line-height: 50px;

    .labelline { 
        position: absolute;
        font-size: 15px;
        color: $secondary;
        padding: 0 20px;
        margin: 0 20px;
        background-color: transparent;
        transition: 0.2s ease;
    }
}

.signup {
    color: $primary !important; 
    
    &::after {
        background-color: $primary !important; 
    }
}

.login {
    color: $secondary !important; 
    
    &::after {
        background-color: $secondary !important; 
    }
}

@media (max-width: 900px){
    .signup-section {
        padding-left: 0rem !important;
    
        .signup-container {
            min-width: 600px;
        }
    }
    
    .signup-container {
        min-width: 600px;
    }
    
=======
    .img-container-small {
        justify-content: center;

        @media (max-width: 480px) {
            img {
                width: 70%;
            }
        }

        @media (min-width: 700px) {
            img {
                width: 22rem;
            }

        }
    } 

    .main {
        display: flex;

        &.small {
            gap: 0;
            flex-direction: column-reverse;

            .signup-section {
                align-content: center;
                padding-left: 0;
        
                .signup-container {
                    padding: 0;
                    min-width: 0;

                    .title {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    .field {
        &:has(label[for*=image_to_]) {
            label {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .5rem;
                cursor: pointer;

                h3 {
                    font-weight: 300;
                }
            }

            .photo {
                width: 50px;
                height: 50px;
                display: none;
                
                img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                    border-radius: 50%;
                }

                &.show {
                    display: block;
                }
            }

            .default {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: .4rem;

                &.hidden {
                    display: none;
                }
            }

            input {
                display: none;
            }
        }
    }

    .signup-section {
        align-content: center;
        padding-left: 3rem;

        .signup-container {
            padding: 0 8rem 8rem 8rem;
            min-width: 600px;
        }
    }
    
    .links {
        display: flex;
        justify-content: space-evenly;
    }

    .title {
        margin-top: 8rem;
        text-align: center;
    }

    .button button{
        margin-top: 30px;
        width: 100%
    }

    form{
        padding: 10px;
        button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: $primary;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
            transition: all 0.3s;
        
            &:hover {
                background-color: $primary;
            }
        }
    }

    .email, .password {
        position: absolute;
        width: 100%;
        height: 50px;
        outline: none;
        font-size: 15px;
        padding: 0 30px;
        line-height: 10px;
        border: 2px solid $background;
        background: transparent;
        transition: 0.1s ease;
        z-index: 1111;
        border-radius: 5px;
    
        &:focus,
        &:valid {
            color: $secondary;
            border: 4px solid $background;
        }
    
        &:focus + .labelline,
        &:valid + .labelline {
            color: $secondary;
            height: 30px;
            line-height: 30px;
            padding: 0 12px;
            transform: translate(-15px, -25px) scale(0.88);
            z-index: 1111111;
            font-size: 15px;
        }
    }
    
    .input-email, .input-password {
        margin-top: 20px;
        position: relative;
        height: 50px;
        line-height: 50px;
    
        .labelline { 
            position: absolute;
            font-size: 15px;
            color: $secondary;
            padding: 0 20px;
            margin: 0 20px;
            background-color: transparent;
            transition: 0.2s ease;
        }
    }
    
    .login, .signup {
        background-color: transparent; 
        border: none; 
        color: $primary; 
        font-size: 16px; 
        cursor: pointer;
        position: relative; 
        font-size: 25px;
        margin-left: 10px;
    
        &::after {
            content: ""; 
            display: block;
            width: 100%; 
            height: $line-height; 
            background-color: $primary; 
            position: absolute;
            bottom: $line-spacing; 
            left: 0; 
        }
    
        &:hover::after {
            height: $line-hover-height; 
            background-color: $primary; 
        }
    }

    .login {
        color: $secondary; 
        
        &::after {
            background-color: $secondary; 
        }
    }
    .links, .paragraph {
        margin-top: 20px;
    }
>>>>>>> Stashed changes
}