@import '../pattern';

$background: #B9B9B9;
$primary: #FFC000;
$secondary: #6A6E83;
$line-height: 2px;
$line-hover-height: 4px;
$line-spacing: -5px;


body{
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        color: $secondary;
        font-size: 12px;
    }
    img{
        display: inline-block;
    }
}

.container{
    margin-top: 100px;
}

.input-foto{
    margin-top: 30px;
}
.input-name{
    margin-top: 10px;
}
.input-email{
    margin-top: 10px;
}
.input-password{
    margin-top: 10px;
}
.input-cargo{
    margin-top: 10px;
}
.input-checkbox{
    margin-top: 10px;
}

.links{

}

.title {
    margin-top: 100px;
}

.paragraph{
    margin-top: 50px;
}

.signup{
    background-color: transparent; 
    border: none; 
    color: $primary; 
    font-size: 16px; 
    cursor: pointer;
    position: relative; 
    font-size: 25px;
    margin-left: 10px;

    &::after {
        content: ""; 
        display: block;
        width: 100%; 
        height: $line-height; 
        background-color: $primary; 
        position: absolute;
        bottom: $line-spacing; 
        left: 0; 
    }

    &:hover::after {
        height: $line-hover-height; 
    }
}

.login{
    background-color: transparent; 
    border: none; 
    color: $secondary; 
    font-size: 16px; 
    cursor: pointer;
    position: relative; 
    font-size: 25px;

    &::after {
        content: ""; 
        display: block;
        width: 100%; 
        height: $line-height; 
        background-color: $primary; 
        position: absolute;
        bottom: $line-spacing; 
        left: 0; 
    }

    &:hover::after {
        height: $line-hover-height; 
    }
}