* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("/static/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
:root {
  --white: #FFFFFF;
  --white_gray: #F8F8F8;
  --white_gray_secondary: #FAFBFB;
  --saturated_white_gray: #EEEEEE;
  --saturated_gray: #D0D5DD;
  --dark_gray: #535353;
  --light_gray: #6A6E83;
  --blue_gray: #42526D;
  --yellow_primary: #FFC000;
  --yellow_secondary: #e6af0b;
  --dark_red: #B40B00;
  --light_red: #F15046;
  --light_green: #00E096;
  --black: #1C1C1C;
}

html {
  scroll-behavior: smooth;
  background-color: var(--saturated_white_gray);
  color: var(--black);
  font-size: 18px;
  font-family: "Inter";
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

button, input, select {
  font-family: "Inter";
  background: none;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: url("/static/assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}
:root {
  --white: #FFFFFF;
  --white_gray: #F8F8F8;
  --white_gray_secondary: #FAFBFB;
  --saturated_white_gray: #EEEEEE;
  --saturated_gray: #D0D5DD;
  --dark_gray: #535353;
  --light_gray: #6A6E83;
  --blue_gray: #42526D;
  --yellow_primary: #FFC000;
  --yellow_secondary: #e6af0b;
  --dark_red: #B40B00;
  --light_red: #F15046;
  --light_green: #00E096;
  --black: #1C1C1C;
}

html {
  scroll-behavior: smooth;
  background-color: var(--saturated_white_gray);
  color: var(--black);
  font-size: 18px;
  font-family: "Inter";
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

button, input, select {
  font-family: "Inter";
  background: none;
  border: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 1rem;
}
body .paragraph {
  color: #6A6E83;
  font-size: clamp(10px, 1vw, 24px);
  text-align: center;
  margin-top: 20px;
}
body .img-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .img-container img {
  width: 80%;
  min-width: 730px;
  height: auto;
}
body .img-container-small {
  justify-content: center;
  display: none;
}
@media (min-width: 700px) {
  body .img-container-small img {
    width: 22rem;
  }
}
body .main {
  display: flex;
}
body .main.small {
  gap: 0;
  flex-direction: column-reverse;
}
body .main.small .login-section, body .main.small .signup-section {
  align-content: center;
  padding-left: 0;
}
body .main.small .login-section .login-container, body .main.small .login-section .signup-container, body .main.small .signup-section .login-container, body .main.small .signup-section .signup-container {
  padding: none;
  min-width: none;
}
body .main.small .login-section .login-container .title, body .main.small .login-section .signup-container .title, body .main.small .signup-section .login-container .title, body .main.small .signup-section .signup-container .title {
  margin-top: 1rem;
}
body .login-section, body .signup-section {
  align-content: center;
  padding-left: 3rem;
}
body .login-section .login-container, body .login-section .signup-container, body .signup-section .login-container, body .signup-section .signup-container {
  padding: 0 8rem 8rem 8rem;
  min-width: 600px;
}
body .links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  font-size: clamp(12px, 2vw, 24px);
}
body .title {
  margin-top: 8rem;
  text-align: center;
  font-size: clamp(12px, 1.5vw, 24px);
}
body .button button {
  margin-top: 30px;
  width: 100%;
}
body form {
  padding: 10px;
}
body form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #FFC000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
body form button:hover {
  background-color: #FFC000;
}
body .email, body .password {
  position: absolute;
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 15px;
  padding: 0 30px;
  line-height: 10px;
  border: 2px solid #B9B9B9;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
  border-radius: 5px;
}
body .email:focus, body .email:valid, body .password:focus, body .password:valid {
  color: #6A6E83;
  border: 4px solid #B9B9B9;
}
body .email:focus + .labelline, body .email:valid + .labelline, body .password:focus + .labelline, body .password:valid + .labelline {
  color: #6A6E83;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px, -25px) scale(0.88);
  z-index: 1111111;
  font-size: 15px;
}
body .input-email, body .input-password {
  margin-top: 20px;
  position: relative;
  height: 50px;
  line-height: 50px;
}
body .input-email .labelline, body .input-password .labelline {
  position: absolute;
  font-size: 15px;
  color: #6A6E83;
  padding: 0 20px;
  margin: 0 20px;
  background-color: transparent;
  transition: 0.2s ease;
}
body .login, body .signup {
  background-color: transparent;
  border: none;
  color: #FFC000;
  cursor: pointer;
  position: relative;
  margin-left: 10px;
}
body .login::after, body .signup::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #FFC000;
  position: absolute;
  bottom: -5px;
  left: 0;
}
body .login:hover::after, body .signup:hover::after {
  height: 4px;
  background-color: #FFC000;
}
body .signup {
  color: #6A6E83;
}
body .signup::after {
  background-color: #6A6E83;
}

.main.small .title {
  margin-top: 1rem !important;
}

.title {
  margin-top: 5rem !important;
}

.label {
  color: #6A6E83;
  font-size: 12px;
  text-align: center;
  padding: 0;
}

.field:has(label[for*=image_to_]) label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
}
.field:has(label[for*=image_to_]) label h3 {
  font-weight: 300;
}
.field:has(label[for*=image_to_]) .photo {
  width: 50px;
  height: 50px;
  display: none;
}
.field:has(label[for*=image_to_]) .photo img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.field:has(label[for*=image_to_]) .photo.show {
  display: block;
}
.field:has(label[for*=image_to_]) .default {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.field:has(label[for*=image_to_]) .default.hidden {
  display: none;
}
.field:has(label[for*=image_to_]) input {
  display: none;
}

.signup-section {
  padding-left: 3rem !important;
}
.signup-section .signup-container {
  padding: 0 8rem !important;
  max-width: 625px;
}

.name {
  position: absolute;
  width: 100%;
  height: 50px;
  outline: none;
  font-size: 15px;
  padding: 0 30px;
  line-height: 10px;
  border: 2px solid #B9B9B9;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
  border-radius: 5px;
}
.name:focus, .name:valid {
  color: #6A6E83;
  border: 4px solid #B9B9B9;
}
.name:focus + .labelline, .name:valid + .labelline {
  color: #6A6E83;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px, -25px) scale(0.88);
  z-index: 1111111;
  font-size: 15px;
}

.input-name {
  margin-top: 20px;
  position: relative;
  height: 50px;
  line-height: 50px;
}
.input-name .labelline {
  position: absolute;
  font-size: 15px;
  color: #6A6E83;
  padding: 0 20px;
  margin: 0 20px;
  background-color: transparent;
  transition: 0.2s ease;
}

.signup {
  color: #FFC000 !important;
}
.signup::after {
  background-color: #FFC000 !important;
}

.login {
  color: #6A6E83 !important;
}
.login::after {
  background-color: #6A6E83 !important;
}

@media (max-width: 900px) {
  .signup-section {
    padding-left: 0rem !important;
  }
  .signup-section .signup-container {
    min-width: 600px;
  }
  .signup-container {
    min-width: 600px;
  }
}/*# sourceMappingURL=style.css.map */