@import '../pattern';

$background: #B9B9B9;
$primary: #FFC000;
$secondary: #6A6E83;
$line-height: 2px;
$line-hover-height: 4px;
$line-spacing: -5px;


body{
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    p{
        color: $secondary;
        font-size: 12px;
    }
    img{
        display: inline-block;
        width: 80%;
    }
}

.container{
    width: 50%;
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
}

form{
    button {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: $primary;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            background-color: $primary;
        }
    }
}

.input-foto{
    margin-top: 20px;
    position: relative;
    height: 50px;
    line-height: 50px;
    .labelline { 
        position: absolute;
        font-size: 15px;
        color: $secondary;
        padding: 0 20px;
        margin: 0 20px;
        background-color: transparent;
        transition: 0.2s ease;
    }
}


.input-name {
    margin-top: 20px;
    position: relative;
    height: 50px;
    line-height: 50px;


    .labelline { 
        position: absolute;
        font-size: 15px;
        color: $secondary;
        padding: 0 20px;
        margin: 0 20px;
        background-color: transparent;
        transition: 0.2s ease;
    }
}
.file {
    position: absolute;
    margin-top: 20px;
    &:focus + .labelline,
    &:valid + .labelline {
        color: $secondary;
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        transform: translate(-15px, -25px) scale(0.88);
        z-index: 1111111;
        font-size: 15px;
        margin-top: 10px;
    }
}

.name {
    position: absolute;
    width: 350px;
    height: 50px;
    outline: none;
    font-size: 15px;
    padding: 0 30px;
    line-height: 10px;
    border: 2px solid $background;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
    border-radius: 5px;

    &:focus,
    &:valid {
        color: $secondary;
        border: 4px solid $background;
    }

    &:focus + .labelline,
    &:valid + .labelline {
        color: $secondary;
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        transform: translate(-15px, -25px) scale(0.88);
        z-index: 1111111;
        font-size: 15px;
    }
}

.input-email {
    margin-top: 20px;
    position: relative;
    height: 50px;
    line-height: 50px;

    .labelline { 
        position: absolute;
        font-size: 15px;
        color: $secondary;
        padding: 0 20px;
        margin: 0 20px;
        background-color: transparent;
        transition: 0.2s ease;
    }
}

.email {
    position: absolute;
    width: 350px;
    height: 50px;
    outline: none;
    font-size: 15px;
    padding: 0 30px;
    line-height: 10px;
    border: 2px solid $background;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
    border-radius: 5px;

    &:focus,
    &:valid {
        color: $secondary;
        border: 4px solid $background;
    }

    &:focus + .labelline,
    &:valid + .labelline {
        color: $secondary;
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        transform: translate(-15px, -25px) scale(0.88);
        z-index: 1111111;
        font-size: 15px;
    }
}

.input-password {
    margin-top: 20px;
    position: relative;
    height: 50px;
    line-height: 50px;

    .labelline { 
        position: absolute;
        font-size: 15px;
        color: $secondary;
        padding: 0 20px;
        margin: 0 20px;
        background-color: transparent;
        transition: 0.2s ease;
    }
}

.password {
    position: absolute;
    width: 350px;
    height: 50px;
    outline: none;
    font-size: 15px;
    padding: 0 30px;
    line-height: 10px;
    border: 2px solid $background;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
    border-radius: 5px;

    &:focus,
    &:valid {
        color: $secondary;
        border: 4px solid $background;
    }

    &:focus + .labelline,
    &:valid + .labelline {
        color: $secondary;
        height: 30px;
        line-height: 30px;
        padding: 0 12px;
        transform: translate(-15px, -25px) scale(0.88);
        z-index: 1111111;
        font-size: 15px;
    }
}

.input-checkbox{
    margin-top: 20px;
    position: relative;
    height: 50px;
    line-height: 50px;
}

.links{
    margin-top: 20px;
}

.title {
    margin-top: 50px;
}

.paragraph{
    margin-top: 50px;
}

.signup {
    background-color: transparent; 
    border: none; 
    color: $primary; 
    font-size: 16px; 
    cursor: pointer;
    position: relative; 
    font-size: 25px;
    margin-left: 10px;

    &::after {
        content: ""; 
        display: block;
        width: 100%; 
        height: $line-height; 
        background-color: $primary; 
        position: absolute;
        bottom: $line-spacing; 
        left: 0; 
    }

    &:hover::after {
        height: $line-hover-height; 
    }
}

.login{
    background-color: transparent; 
    border: none; 
    color: $secondary; 
    font-size: 16px; 
    cursor: pointer;
    position: relative; 
    font-size: 25px;

    &::after {
        content: ""; 
        display: block;
        width: 100%; 
        height: $line-height; 
        background-color: $primary; 
        position: absolute;
        bottom: $line-spacing; 
        left: 0; 
    }

    &:hover::after {
        height: $line-hover-height; 
    }
}
.input-checkbox{
    margin-top: 20px;
    label{
        color: $secondary;
        font-size: 12px;
    }
}
.button button{
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.img-container {
    height: 100%;
    width: 50%;
    margin-top: 0px;
}
@media screen and (max-width: 1300px) {
    .img-container {
      display: none;
    }
}
@media screen and (max-width: 320px) {
    .img-container{
        display: none;
    }
    .container {
      margin-left: none;
    }
  }