@import '../pattern';

body {
    display: flex;
    height: 100%;

    overflow-x: hidden;
}

#side_menu {
    position: sticky;
    @include flexBox($direction: column, $content: space-between, $gap: 2rem);
    background-color: var(--white_gray);
    width: 20%;
    min-height: 100vh;
    padding: 1rem;

    nav, .logo {
        width: 100%;
    }

    .logo {
        @include flexBox();

        img {
            max-width: 80px;
        }
    }

    nav {
        flex-grow: 1;
        ul {
            @include flexBox($direction: column, $gap: 2rem);

            li {
                @include flexBox($content: flex-start, $gap: .8rem);
                border-radius: .5rem;
                width: 100%;
                padding: .5rem;
                transition: all .25s linear;
                position: relative;
                cursor: pointer;

                &:hover {
                    background-color: var(--saturated_gray);
                }
                
                a {
                    position: absolute;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                }

                &.current {
                    background-color: var(--yellow_primary);
                    color: var(--white);

                    &:hover {
                        background-color: var(--yellow_secondary);
                    }
                }
            }
        }
    }

    #logout {
        @include flexBox($direction: row-reverse, $gap: 1rem);
        border: none;
        background: none;

        border-radius: .5rem;
        width: 100%;
        padding: .5rem;
        transition: all .25s linear;
        cursor: pointer;

        &:hover {
            background-color: var(--light_red);
            color: var(--white);
        }
    }
}

main {
    flex-grow: 10;
    display: flex;
    flex-direction: column;

    #top_menu {
        @include flexBox($content: space-between, $gap: 3rem);
        position: relative;

        width: 100%;
        background-color: var(--white);    
        padding: 1rem 1.5rem;

        .search_bar {
            @include flexBox($content: space-between, $gap: 2rem);
            width: 100%;
            flex-grow: 1;

            .input {
                @include flexBox($content: space-between, $gap: 1rem);
                background-color: var(--white_gray);
                padding: .8rem;
                height: 50px;
                width: 80%;
                flex-grow: 1;
                border-radius: 2rem;

                input {
                    background: none;
                    border: none;
                    height: 100%;
                    width: 100%;
                    padding-left: .6rem;
                }

                .search_button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    
                    svg {
                        color: var(--light_gray);
                        transition: all .25s linear;
                    }

                    &:hover svg {
                        color: var(--yellow_secondary);
                    }
                }
            }

            .config {
                @include flexBox();
                padding: .8rem;
                border: none;
                background: none;
                border-radius: 50%;
                background-color: var(--yellow_primary);
                color: var(--white);
                transition: all .3s linear;
                cursor: pointer;
                width: 50px;
                height: 50px;

                &:hover {
                    background-color: var(--yellow_secondary);
                }
            }
        }

        .user_profile {
            @include flexBox($gap: .5rem);
            width: fit-content;
            padding: .2rem .2rem .2rem .8rem;
            border-radius: 5rem;
            background-color: var(--white_gray);

            #hamburger_menu {
                @include flexBox();
                width: 40px;
                height: 40px;
                cursor: pointer;
                background: none;
                border: none;

                span {
                    position: relative;
                    width: 100%;
                    height: 4px;
                    background-color: var(--light_gray);
                    border-radius: 1rem;
                    transition: all .3s linear;

                    &.show {
                        transform: rotate(-45deg);

                        &::before {
                            top: 0;
                            transform: rotate(90deg);
                        }
    
                        &::after {
                            top: 0;
                            transform: rotate(-90deg);
                        }
                    }

                    &::before, &::after {
                        content: '';
                        position: absolute;
                        width: inherit;
                        height: inherit;
                        top: 0;
                        right: 0;
                        background-color: inherit;
                        border-radius: 1rem;
                        transition: all .3s linear;
                    }

                    &::before {
                        top: -10px;
                    }

                    &::after {
                        top: 10px;
                    }
                }

                &:hover {
                    span:not(.show) {
                        width: 100%;

                        &::before {
                            width: 80%;
                        }

                        &::after {
                            width: 60%;
                        }
                    }
                }
            }

            .user_photo {
                width: 50px;
                height: 50px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }

        .secondary_menu {
            position: absolute;
            right: -100%;
            top: 100%;
            background-color: var(--white);
            padding: 1rem;
            transition: all .3s linear;
            border-end-start-radius: .5rem;
            z-index: 1;

            &.show {
                right: 0;
            }

            nav {
                @include flexBox($direction: column, $items: unset, $gap: .5rem);

                ul {
                    @include flexBox($direction: column, $gap: .5rem);
            
                    &.mobile_version {
                        display: none;
                        border-top: 1px solid var(--yellow_primary);
                        padding-top: .5rem;
                    }

                    li {
                        @include flexBox($content: flex-start, $gap: .8rem);
                        border-radius: .5rem;
                        width: 100%;
                        padding: .5rem;
                        transition: all .25s linear;
                        position: relative;
                        cursor: pointer;
            
                        &:hover {
                            background-color: var(--saturated_gray);
                        }
                        
                        a {
                            position: absolute;
                            opacity: 0;
                            width: 100%;
                            height: 100%;
                        }
            
                        &.current {
                            background-color: var(--yellow_primary);
                            color: var(--white);
            
                            &:hover {
                                background-color: var(--yellow_secondary);
                            }
                        }
                    }
                }
            }
        }
    }

    #current_content {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .content_title {
            margin-bottom: 1.5rem;

            h2 {
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 1024px) {
    #side_menu {
        display: none;
        // position: absolute;
        // width: 90%;
        // max-width: 450px;
        // z-index: 1;

        // transform: translateX(-100%);
    }

    main {
        #top_menu {
            gap: 1rem;

            .search_bar {
                
                .config {
                    display: none;
                }
            }

            .secondary_menu {
                nav {
                    ul {
                        &.mobile_version {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}